[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.1"
djangorestframework = "3.13.1"
django-countries = "7.3.2"
django-filter = "22.1"
psycopg2-binary = "2.9.3"
django-debug-toolbar = "3.5.0"
pytest = "7.1.2"
django-rest-swagger = "2.2.0"
pytest-django = "4.5.2"
celery = "5.7.2"
redis = "4.3.4"
flower = "1.1.0"

[dev-packages]

[requires]
python_version = "3.9"
